
Vous pouvez partager ce formulaire avec les options suivantes. Vous pouvez aussi le "cloner" afin de créer un nouveau formulaire réutilisant les mêmes champs.

<div><h2>Adresse et lien HTML</h2>
<p>Copiez cette adresse web et partagez-là avec qui vous voulez !</p>
<p><input value="[thislink]" size="60"></input></p>
<p>Ou avec le code HTML</p>
<p><input value="[thislink]" size="60"></input></p>

<h2>Embarquer le code</h2>
<div>
  <textarea cols="60">
[thisiframe800]
  </textarea>
  <p><small>Veuillez noter que tous les sites ne permettent pas d'inclure des iframes dans leurs contenus. Il vous faudra peut être disposer d'autorisations adéquates, ou de plugins spécifiques (ex pour <a href="https://fr.wordpress.org/plugins/iframe/" target="_blank">Wordpress</a>).</small></p>
</div>

<h2>Partager sur les réseaux sociaux</h2>
<div class="shareLinks">

<div class="shareLink diaspora">
  <a href="javascript:(function(){var url = '[thislink]' ;var title = 'Formulaire';   window.open('https://framablog.org/wp-content/plugins/share-on-diaspora/new_window.php?url='+encodeURIComponent(url)+'&amp;title='+encodeURIComponent(title),'post','location=no,links=no,scrollbars=no,toolbar=no,width=620,height=400')})()">
Diaspora*
  </a>
</div>

<div class="shareLink facebook">
  <a target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=[thisurl]; ?>">Facebook</a>
</div>

<div class="shareLink twitter">
  <a target="_blank" href="https://twitter.com/intent/tweet?url=[thisurl]; ?>">Twitter</a>
</div>

<div class="clear:both">&nbsp;<div/>
</div> 

<h1>Clonage</h1>
<p>Pour cloner ce formulaire, suivez simplement ce lien : <a href="[thisclonelink]">[thisclonelink]</a>.</p>
<p>Cela vous mènera à un nouveau formulaire qui sera déjà prérempli avec les champs du formulaire actuel, mais sans aucune réponse. Vous pourrez donc l'adapter à vos nouveaux besoins, sans que le formulaire courant ou ses résultats ne soient affectés.</p>