<!-- Default frontpage for Framaforms -->

    <!-- Bootstrap lib links -->
<link href="/sites/all/modules/framaforms/includes/themes/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/sites/all/modules/framaforms/includes/themes/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

<!-- Same links if installed through installation profile -->
<link href="/profiles/framaforms_org/modules/framaforms/includes/themes/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/profiles/framaforms_org/modules/framaforms/includes/themes/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

<!-- Page content -->
<p>Framaforms is an alternative service to Google Forms, allowing youto create and share forms online.</p>

    <!-- Carousel  ======================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/profiles/framaforms_org/files/imgforms/anim_creation.gif" alt="Création rapide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get started fast.</h1>
              <p>Create your forms quickly using intuitive drag and drop. Many usecases are covered by the large number of available form fields.</p>
              <p><a class="btn btn-lg btn-primary" href="/features" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/profiles/framaforms_org/files/imgforms/anim_analyse.gif" alt="Analyse">
          <div class="container">
            <div class="carousel-caption">
              <h1>Integrated analysis.</h1>
              <p>You can of course access your form submissions online and download them for treatment in your own spreadsheets, but the site also generates online graphs.</p>
              <p><a class="btn btn-lg btn-primary" href="/features" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/profiles/framaforms_org/files/imgforms/partager.png" alt="Partager">
          <div class="container">
            <div class="carousel-caption">
              <h1>Share your forms</h1>
              <p>Share your form on social medias, embed them in your website, and allow other users to use them as templates.</p>
              <p><a class="btn btn-lg btn-primary" href="/features" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<!-- /.carousel -->




<div style="text-align:center">
    <a href="/user/register" class="btn btn-success btn-lg" role="button"><i class="fa fa-fw fa-lg fa-user" aria-hidden="true"></i> Register</a>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <a href="/node/add/form1" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-lg fa-list-ul" aria-hidden="true"></i>New form</a>
</div>


<hr class="trait" role="presentation">
<div class="row">

                    <div class="col-md-4" id="tuto-faq">
                        <h2>Get started</h2>
                        <p class="text-center" role="presentation"><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i></p>
                        <p>Framaforms is an online form management software.</p>
                        <p>If you need help, you'll find answers here :</p>
                        <p class="text-center"><a href="/features" class="btn btn-primary">Features »</a></p>

                        <h2>Limitation</h2>
                        <p>Framaforms has the following limitation : </p>
                        <ul>
                          <li>Form lifetime : <strong>6 months</strong></li>
                          <li>Number of submissions / form : <strong>1 000</strong></li>
                          <li>Number of form / user : <strong>200</strong></li>
                        </ul>
                        <p class="text-center"><a href="/limits" class="btn btn-primary">Limitation »</a></p>

                    </div>

                    <div class="col-md-4" id="le-logiciel">
                        <h2>Free software</h2>
                        <p class="text-center" role="presentation"><i class="glyphicon glyphicon-cloud" aria-hidden="true"></i></p>
                        <p>Framaforms is a free software, developped by Framasoft.</p>
                        <p>It is distributed under the <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">
                            <abbr title="General Public License">GPL v2</abbr> license.
                          </a>.</p>
                        <a class='btn btn-success' href="/about">Learn more »</a>

                        <p><strong>Having a problem?</strong></p>
                        <p>If you encounter a technical problem (error message, strange behavior), <a href="/contact">send us a message</a>.
                          Don't forget to send us as much detail as possible to describe your problem (which page you encountered it on, screenshots, etc.)</p>
                        </div>

                    <div class="col-md-4" id="jardin">
                        <h2>Get involved</h2>
                        <p class="text-center" role="presentation"><i class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></i></p>
                        <p>To participate in the development of the software, propose enhancements
                            or even just to download it, you'll find information on <a href="https://framagit.org/framasoft/framaforms">the development platform</a>.</p>
                        <br>
                        <p>If you want to install your own Framaforms for your community to use, get help over here : </p>
                        <p class="text-center"><a href="https://framagit.org/framasoft/framaforms/-/wikis/Installing-Framaforms-through-the-installation-profile" class="btn btn-success"><i class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></i> Wiki »</a></p>
                    </div>
                </div>


</div>
