    <!-- Page d'accueil par défaut de Framaforms -->

    <!-- Bootstrap lib links -->
<link href="/sites/all/modules/framaforms/includes/themes/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/sites/all/modules/framaforms/includes/themes/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

<!-- Same links if installed through installation profile -->
<link href="/profiles/framaforms_org/modules/framaforms/includes/themes/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="/profiles/framaforms_org/modules/framaforms/includes/themes/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>

<!-- Page content -->
<p>Framaforms est une alternative à Google Forms, qui vous permet de créer rapidement des questionnaires.</p>

    <!-- Carousel  ======================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/profiles/framaforms_org/files/imgforms/anim_creation.gif" alt="Création rapide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Création rapide.</h1>
              <p>Créez vos formulaires par simple glisser-déposer. Le grand nombre de champs disponibles permet de créer des formulaires ou questionnaires couvrant un large éventail de besoins.</p>
              <p><a class="btn btn-lg btn-primary" href="/fonctionnalites" role="button">En savoir plus</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/profiles/framaforms_org/files/imgforms/anim_analyse.gif" alt="Analyse">
          <div class="container">
            <div class="carousel-caption">
              <h1>Analyse de base intégrée</h1>
              <p>Framaforms vous permet bien évidemment de visualiser les réponses en ligne, de télécharger les réponses pour analyse dans votre tableur préféré, mais il génère aussi automatiquement des graphiques pour les réponses numériques.</p>
              <p><a class="btn btn-lg btn-primary" href="/fonctionnalites" role="button">En savoir plus</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/profiles/framaforms_org/files/imgforms/partager.png" alt="Partager">
          <div class="container">
            <div class="carousel-caption">
              <h1>Partagez vos formulaires</h1>
              <p>Partagez vos formulaires sur les réseaux sociaux, embarquez les dans votre site web, ou autorisez leur clonage afin de permettre à d'autres de gagner un temps précieux.</p>
              <p><a class="btn btn-lg btn-primary" href="/fonctionnalites" role="button">En savoir plus</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </a>
    </div>
<!-- /.carousel -->




<div style="text-align:center">
    <a href="/user/register" class="btn btn-success btn-lg" role="button"><i class="fa fa-fw fa-lg fa-user" aria-hidden="true"></i> Créer un compte</a>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <a href="/node/add/form1" class="btn btn-primary btn-lg" role="button"><i class="fa fa-fw fa-lg fa-list-ul" aria-hidden="true"></i> Créer un formulaire</a>
</div>


<hr class="trait" role="presentation">
<div class="row">

                    <div class="col-md-4" id="tuto-faq">
                        <h2>Prise en main</h2>
                        <p class="text-center" role="presentation"><i class="glyphicon glyphicon-question-sign" aria-hidden="true"></i></p>
                        <p>Framaforms est un logiciel de création de formulaires en ligne.</p>
                        <p>L'aide est toujours en cours de rédaction, mais si vous avez besoin d’un coup de main, la réponse à vos questions se trouve peut-être là&nbsp;:</p>
                        <p class="text-center"><a href="/fonctionnalites" class="btn btn-primary">Fonctionnalités »</a></p>

                        <h2>Limitations</h2>
                        <p>Le logiciel Framaforms est soumis aux limitations suivantes : </p>
                        <ul>
                          <li>Durée de vie d'un formulaire : <strong>[framaforms-limitations:form-lifetime]</strong></li>
                          <li>Nombres de réponses par formulaire : <strong>[framaforms-limitations:submissions-per-form]</strong></li>
                          <li>Nombre de formulaires par utilisateur : <strong>[framaforms-limitations:forms-per-user]</strong></li>
                        </ul>
                        <p class="text-center"><a href="/limitations" class="btn btn-primary">Limitations »</a></p>

                    </div>

                    <div class="col-md-4" id="le-logiciel">
                        <h2>Le logiciel</h2>
                        <p class="text-center" role="presentation"><i class="glyphicon glyphicon-cloud" aria-hidden="true"></i></p>
                        <p>Framaforms repose sur le logiciel libre <a href="https://drupal.org/">Drupal</a> ainsi que son module <a href="https://www.drupal.org/project/webform">Webform</a>.</p>
                        <p>L'ensemble est placé sous licence <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html"><abbr title="General Public License">GPL v2</abbr></a> et fait appel à de nombreux autres modules Drupal.</p>
                        <p><strong>Un problème ?</strong>Si vous rencontrez un problème d'ordre technique (message d'erreur, comportement inattendu), <a href="https://contact.framasoft.org/#framaforms">envoyez-nous un message</a>. N'oubliez pas de nous fournir le plus de précisions possibles sur la nature de votre erreur (titre et lien vers votre formulaire, captures d'écran, etc.)</p>
                    </div>

                    <div class="col-md-4" id="jardin">
                        <h2>Cultivez votre jardin</h2>
                        <p class="text-center" role="presentation"><i class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></i></p>
                        <p>Pour participer au développement du logiciel, proposer des améliorations
                            ou simplement le télécharger, rendez-vous sur <a href="https://framagit.org/framasoft/framaforms">le site de développement</a>.</p>
                        <br>
                        <p>Si vous souhaitez installer ce logiciel pour votre propre usage et ainsi gagner en autonomie, nous vous aidons sur :</p>
                        <p class="text-center"><a href="http://framacloud.org/cultiver-son-jardin/installation-de-framaforms/" class="btn btn-success"><i class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></i> framacloud.org</a></p>
                    </div>
                </div>


</div>
